$appBackgroundColor: #fdfdfd;
$appColor: #2c3e50;

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $appColor;
    background-color: $appBackgroundColor;
  }